//npm.shoplazza.site/:_authToken="0HKwwwSp+EmqDWR8wlRfLLsbBzX8O568Brbc/f1O/Fg="
@shoplazza:registry=https://npm.shoplazza.site/
registry=https://npm.shoplazza.site/
always-auth=true
engine-strict=true
